body {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #164a44;
    background-color: royalblue;
}

.tasks {
    width: 30%;
    background-color: rgb(240, 228, 228);
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tasks__title {
    margin: 50px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.tasks__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tasks__item {
    background-color: white;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    /* border: 2px dashed #b2d9d0;*/
    border-radius: 10px;
    cursor: grabbing;
    background-color: white;
    transition: background-color 0.5s;
}

.tasks__item:last-child {
    margin-bottom: 0;
}

.selected {
    opacity: 0.01;
    /*  background-color: darkslateblue;*/
}

.add {
    background-color: green;
    width: 30%;
    color: white;
    margin-top: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.textNew {
    margin: 1px;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.add_card:hover {
    background: white;
}

.add_card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.textNew {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    text-align: center;
}

.displayNone {
    display: none;
}

#textCuntentNew {
    margin-top: 10px;
}